<div class="container">
    <div class="card">
            <div class="card-infos"> 
                <div class="grid-2col">
                    <div class="car-title">
                        {{carBrand}} {{carName}}
                    </div>
                    <div class="car-engine-placement">
                        Engine placement:
                        <div [ngSwitch]="carEnginePlacement">
                            <div *ngSwitchCase="0">Front Engine</div>
                            <div *ngSwitchCase="1">Middle Engine</div>
                            <div *ngSwitchCase="2">Rear Engine</div>
                            <div *ngSwitchDefault>Erreur</div>
                        </div>
                    </div>
                    <div class="car-drivetrain">
                        <div [ngSwitch]="carDriveTrain">
                            <div *ngSwitchCase="0"><img class="img-drivetrain" src="assets/images/drivetrain/0.png"></div>
                            <div *ngSwitchCase="1"><img class="img-drivetrain" src="assets/images/drivetrain/1.png"></div>
                            <div *ngSwitchCase="2"><img class="img-drivetrain" src="assets/images/drivetrain/2.png"></div>
                        </div>
                    </div> 
                </div> 
                 
            </div>
            <div class="card-img">
                <img src="https://img.le-dictionnaire.com/car-autocar.jpg">
            </div>
            <div class="card-description"> 
                {{carDescription}}
            </div>
    
                <!--<div class="card-col-infos">
            {{carBrand}} {{carName}}
            Engine placement:
            
        </div>
        <div class="card-col-image" [ngSwitch]="carDriveTrain">
            Drivetrain:
            <div *ngSwitchCase="0"><img src="">F</div>
            <div *ngSwitchCase="1"><img src="">A</div>
            <div *ngSwitchCase="2"><img src="">R</div>
            <div *ngSwitchDefault>Erreur</div>
        </div> -->
    </div>
</div>